body {
    background: #263036;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.center {
    height: fit-content;
    width: 100%;
}


.name {
    width: 60vw;
}

.contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.contact li {
    display: inline-block;
}

.contact a {
    display: block;
    padding-top: 32px;
    padding-inline: 16px;
}

.contact a i {
    color: #fff
}

.contact a:hover i {
    color: #84a5bb
}